<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <parttern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n </parttern>
        </encoder>
    </appender>

    <root level ="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>